<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device, initial-scale=1.0" />
        <title>响应式布局及响应式列表</title>
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <link rel="stylesheet" href="css/list.css" />
    </head>
    <body>
        <div id="header">
            <span class="title">列表</span>
        </div>
        <div id="content">
            <ul>
                <li>
                    <span class="title">
                        <img src="img/1.gif" alt="" />
                        临时数据
                    </span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span class="title">
                        <img src="img/1.gif" alt="" />临时数据
                    </span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span class="title">
                        <img src="img/1.gif" alt="" />临时数据
                    </span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span class="title">
                        <img src="img/1.gif" alt="" />临时数据
                    </span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span class="title">
                        <img src="img/1.gif" alt="" />临时数据
                    </span>
                    <i class="fa fa-angle-right"></i>
                </li>
            </ul>
        </div>
    </body>
</html>